<div class="row">
    
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-primary"  (click)="showAddForm()">Dodaj novi post</button>
            <a class="btn btn-primary" href="users">Prikazi sve  korisnike</a>
            <a class="btn btn-primary" href="friends">Prikazi  prijatelje</a>
            <button *ngIf="recievedFriendRequestList.length!=0" class="btn btn-danger"  (click)="showFriendRequests()">Imate zahteve za prijateljstvo</button>
            <button  class="btn btn-primary"  (click)="showMessages()">Poruke</button>

            <br>
             
            <a class="btn btn-primary" (click)="changeSizeOfAddToPosts()">Prikazi jos postova</a>

        </div>
        
        <div *ngIf=addPostClicked>
        <form  class="form" (ngSubmit)="addPost()">
            <input type="text" id="tekst" class="form-control" name="tekst" [(ngModel)]="newPost.tekst" placeholder="..." required autofocus>
            <button class="btn btn-primary btn-block" type="submit">dodaj</button>
          </form>
        </div>

        <div *ngIf=showRequests>
          <div *ngFor="let fr of recievedFriendRequestList">
             <h3> <a href = "/friends/{{fr.id}}">{{fr.loginDto.firstName}} {{fr.loginDto.lastName}} </a>
             <button class="btn btn-primary"  (click)="addFriend(fr)">Dodaj u prijatelje</button>
             <button class="btn btn-primary"  (click)="moradaSeNapravi()">Obrisi</button></h3>
          </div>
        </div>
    </div>

    <!-- <div *ngIf=addPostClicked class="col-md-4">
        <form class="form" (ngSubmit)="addPost()">
            <div class="form-group">
                   <input name="tekst" class="form-control" [(ngModel)]="newPost.tekst">
            </div>
            
            <input type="submit" value="dodaj" class="btn btn-primary">
        </form>
    </div> -->
</div>

<!-- koristim postsToPush dok ne napravim konacno -->
<div *ngFor="let p of postsToPush">    
    <h3>{{p.tekst}}</h3><br>
    <button class="btn btn-primary" (click)="showCommentInputForm(p.id)">ostavite komentar</button>
    <button *ngIf="p.commentsDTO.length!=0" class="btn btn-primary" (click)="showComments(p.id)">prikazi komentare</button>
    <br><br>
    <div *ngIf="addCommentClickedList[p.id]">
        <form  class="form" (ngSubmit)="addComment(p)">
            <input type="text" id="tekst" class="form-control" name="tekst" [(ngModel)]="newComment.text" placeholder="..." required autofocus>
            <button class="btn btn-primary btn-block" type="submit">dodaj</button>
          </form>
        </div>

        <div *ngIf="showCommentsList[p.id]">
            komentari:
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let comment of p.commentsDTO">
                  <span *ngIf="!checkUsersUsername(comment.authorDTO.loginDto.username)">  
                   <a href = "/friends/{{p.authorDTO.id}}"> {{comment.authorDTO.loginDto.firstName}} 
                     {{comment.authorDTO.loginDto.lastName}}</a>
                  </span>
                  <span *ngIf="checkUsersUsername(comment.authorDTO.loginDto.username)">  
                    <a href = "/main"> {{comment.authorDTO.loginDto.firstName}} 
                     {{comment.authorDTO.loginDto.lastName}}</a>
                   </span>  
                      :
                     {{comment.text}}
                 
                </li>
            </ul>
            </div>
    </div>
    

    

